/* src/Login.css */
/* src/EmployeeList.css */
hr {
  border: 0;
  height: 1px;
  background-color: #ccc; /* Adjust color as needed */
  margin-top: 10px; /* Optional: for some spacing at the top */
  margin-bottom: 10px; /* Space between each set of employee data */
}
/* Add this to your CSS file */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}


.employee-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 24px;
}

.employee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.employee-list-item {
  margin-bottom: 1rem;
  font-size: 16px;
}

.create-employee-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create-employee-button:hover {
  background-color: #0056b3;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #ff9d6c, #fe6d8e);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

.login-container h1 {
  margin-bottom: 2rem;
  font-size: 24px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-container label {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.login-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-container button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  font-size: 14px;
}

.success-message {
  color: green;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
/* CSS */

/* Base table styles */
.table-responsive {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  
}

@media screen and (max-width: 768px) {
  .table-responsive {
    /* Styles for screens less than 768px wide */
  }
}


table {
  overflow-x: auto;
  
}
table {
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

tbody tr {
  border-bottom: 1px solid black;
}

tbody tr:last-child {
  border-bottom: none;
}

.nestedTable {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.nestedTable td {
  border: none;
  padding: 2px;
}
.indented {
  margin-left: 100px; /* Adjust this value as needed */
}

.ToDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.ToDo h1 {
  margin-bottom: 20px;
}

.ToDo ul {
  list-style-type: none;
  padding: 0;
}

.ToDo li {
  margin: 10px 0;
}

.ToDo button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.update-message {
  color: green;
  margin-top: 10px;
}

.update-message.error {
  color: red;
}

.form-label {
  display: block; /* Makes the label a block element */
  margin-top: 5px; /* Adds some space above each label */
}

.form-input {
  width: 100%; /* Makes input take full width of its container */
  padding: 0px; /* Adds some padding inside the input fields */
  margin-bottom: 0px; /* Adds some space below each input field */
}
/* App.css */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}



.main-content {
  margin-top: 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
}
.main-content {
  display: flex;
  justify-content: space-between;
}

/* Or using Grid */
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}




.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}



body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  padding: 20px;
  background: white;
  color: black;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.company-info p,
.agreement-date p {
  margin: 0;
  font-size: 12px;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.contract-title {
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
}

.contract-section {
  margin-bottom: 20px;
}

.contract-date {

  font-style: italic;
  margin-bottom: 50px;
  width: 200px;
  text-align: center;
  margin: 50px auto;
}

.contract-body {
  font-size: 12px;
}

.signature-section {
  margin-top: 50px;
}

.signature {
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.signature-area {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.signature-block {
  text-align: match-parent;
}

.signature-line {
  border-top: 1px solid #000;
  margin: 20px 0;
}
.signature span {
  display: block;
  margin-top: 5px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.back-button {
  text-align: center;
}
