/* src/Login.css */
/* src/EmployeeList.css */
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.react-calendar__tile.highlight-tile {
  @apply bg-red-500 text-white rounded-full !important;
}

.highlight-tile:hover {
  @apply bg-red-700 text-white !important;
}

/* Custom class for the current date tile */
.current-date-tile {
  @apply bg-blue-500 text-white rounded-full !important;
}

.current-date-tile:hover {
  @apply bg-blue-900 text-white !important;
}

/* Ensure the current date tile is properly visible */
.react-calendar__tile--now {
  background: none; /* Clear default background for current date */
  color: inherit;   /* Inherit text color */
}

/* Additional styles to ensure visibility */
.react-calendar__tile {
  color: inherit; /* Ensure text color is inherited */
}

.break-zwolnienie {
  @apply bg-red-500 text-white;
  position: relative;
}

.break-ciąża {
  @apply bg-red-500 text-white;
  position: relative;
}

.break-zasilek {
  @apply bg-red-500 text-white;
  position: relative;
}

.break-bezplatny {
  @apply bg-yellow-500 text-white;
  position: relative;
}

.break-nieobecnosc {
  @apply bg-green-500 text-white;
  position: relative;
}

.break-default {
  @apply bg-blue-500 text-white;
  position: relative;
}

/* Position the letters on the calendar tiles */
.break-zwolnienie::after,
.break-ciąża::after,
.break-zasilek::after,
.break-bezplatny::after,
.break-nieobecnosc::after {
  content: attr(data-letter);
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0.75rem;
  color: white;
}
.table-zwolnienie {
  @apply bg-red-500 text-white;
}

.table-ciąża {
  @apply bg-red-500 text-white;
}

.table-zasilek {
  @apply bg-red-500 text-white;
}

.table-bezplatny {
  @apply bg-yellow-500 text-white;
}

.table-nieobecnosc {
  @apply bg-green-500 text-white;
}

.table-default {
  @apply bg-blue-500 text-white;
}

/* Tailwind CSS styles */
.break-zwolnienie[data-letter="ZW"] {
  background-color: #F56565; /* Tailwind red-500 */
  color: white;
}

.break-ciąża[data-letter="CI"] {
  background-color: #ED64A6; /* Tailwind pink-500 */
  color: white;
}

.break-zasilek[data-letter="ZS"] {
  background-color: #9F7AEA; /* Tailwind purple-500 */
  color: white;
}

.break-bezplatny[data-letter="BP"] {
  background-color: #ECC94B; /* Tailwind yellow-500 */
  color: black;
}

.break-nieobecnosc[data-letter="NB"] {
  background-color: #A0AEC0; /* Tailwind gray-500 */
  color: black;
}

.break-default[data-letter="DF"] {
  background-color: #EDF2F7; /* Tailwind gray-200 */
  color: black;
}


/* Calendar styling for break types */
.break-zwolnienie div[data-letter="ZW"] {
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
}

.break-ciąża div[data-letter="CI"] {
  background-color: pink;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
}

.break-zasilek div[data-letter="ZS"] {
  background-color: purple;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
}

.break-bezplatny div[data-letter="BP"] {
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
}

.break-nieobecnosc div[data-letter="NB"] {
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 100%;
}

/* Table styling for break types */
.table-zwolnienie {
  background-color: red;
  color: white;
}

.table-ciąża {
  background-color: pink;
  color: white;
}

.table-zasilek {
  background-color: purple;
  color: white;
}

.table-bezplatny {
  background-color: orange;
  color: white;
}

.table-nieobecnosc {
  background-color: green;
  color: white;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc; /* Adjust color as needed */
  margin-top: 10px; /* Optional: for some spacing at the top */
  margin-bottom: 10px; /* Space between each set of employee data */
}
/* Add this to your CSS file */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}


.employee-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  font-size: 24px;
}

.employee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.employee-list-item {
  margin-bottom: 1rem;
  font-size: 16px;
}

.create-employee-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.create-employee-button:hover {
  background-color: #0056b3;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #ff9d6c, #fe6d8e);
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

.login-container h1 {
  margin-bottom: 2rem;
  font-size: 24px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-container label {
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.login-container input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.login-container button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 0.5rem;
  font-size: 14px;
}

.success-message {
  color: green;
  margin-top: 0.5rem;
  font-size: 14px;
  font-weight: bold;
}

.notification {
  background-color: yellow;
  padding: 10px;
  border: 1px solid black;
  position: fixed;
  top: 10px;
  right: 1500px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
/* CSS */

/* Base table styles */
.table-responsive {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  
}

@media screen and (max-width: 768px) {
  .table-responsive {
    /* Styles for screens less than 768px wide */
  }
}


table {
  overflow-x: auto;
  
}
table {
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid black;
  padding: 8px;
}

tbody tr {
  border-bottom: 1px solid black;
}

tbody tr:last-child {
  border-bottom: none;
}

.nestedTable {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

.nestedTable td {
  border: none;
  padding: 2px;
}
.indented {
  margin-left: 100px; /* Adjust this value as needed */
}

.ToDo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.ToDo h1 {
  margin-bottom: 20px;
}

.ToDo ul {
  list-style-type: none;
  padding: 0;
}

.ToDo li {
  margin: 10px 0;
}

.ToDo button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.update-message {
  color: green;
  margin-top: 10px;
}

.update-message.error {
  color: red;
}

.form-label {
  display: block; /* Makes the label a block element */
  margin-top: 5px; /* Adds some space above each label */
}

.form-input {
  width: 100%; /* Makes input take full width of its container */
  padding: 0px; /* Adds some padding inside the input fields */
  margin-bottom: 0px; /* Adds some space below each input field */
}
/* App.css */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}



.main-content {
  margin-top: 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #ddd;
}
.main-content {
  display: flex;
  justify-content: space-between;
}

/* Or using Grid */
.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}




.title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}



body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  padding: 20px;
  background: white;
  color: black;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.company-info p,
.agreement-date p {
  margin: 0;
  font-size: 12px;
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.contract-title {
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
}

.contract-section {
  margin-bottom: 20px;
}

.contract-date {

  font-style: italic;
  margin-bottom: 50px;
  width: 200px;
  text-align: center;
  margin: 50px auto;
}

.contract-body {
  font-size: 12px;
}

.signature-section {
  margin-top: 50px;
}

.signature {
  width: 200px;
  text-align: center;
  margin: 20px auto;
}

.signature-area {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.signature-block {
  text-align: match-parent;
}

.signature-line {
  border-top: 1px solid #000;
  margin: 20px 0;
}
.signature span {
  display: block;
  margin-top: 5px;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  margin-top: 40px;
}

.back-button {
  text-align: center;
}
.companyTodoContainer {
  display: flex;
  justify-content: space-between; /* Adjust based on your design */
  align-items: flex-start; /* Align items at the top */
  flex-wrap: wrap; /* Ensure responsiveness */
}

.companyDetails, .todoList {
  flex: 1; /* Allow both children to grow but stay flexible */
  min-width: 300px; /* Minimum width before wrapping, adjust as needed */
  padding: 10px; /* Add some space inside */
}

/* Optional: Add some margin between the two divs for better spacing */
.companyDetails {
  margin-right: 20px; /* Adjust based on your design */
}

.setupProcess {
  /* Example styles */
  padding: 20px;
  margin-bottom: 30px; /* Add space below the setup process section */
  background-color: #f8f8f8; /* Light background color to distinguish the section */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: slight shadow for depth */
}
.setupProcess > *:not(:last-child) {
  margin-bottom: 20px; /* Adds space between child elements, excluding the last child */
}


.step-indicator-container {
  display: flex;
  justify-content: center; /* Center align the steps container */
  align-items: center; /* Vertically align items for better visual */
  flex-wrap: wrap; /* Wrap steps if container is too narrow */
  gap: 20px; /* Add space between steps */
  padding: 20px 0; /* Padding on top and bottom */
}

.step-title {
  font-size: 14px; /* Adjust based on your design */
  color: #333; /* Dark color for better readability */
  margin-top: 8px; /* Adjust space between number and title */
}

.step-completed .step-number {
  background-color: green; /* Green background for completed steps */
  color: white; /* White text color */
  position: relative; /* Needed for positioning the ::after content */
}

.step-completed .step-number::after {
  content: '✔'; /* Unicode checkmark */
  font-size: 15px; /* Adjust the size as needed */
  color: white; /* Color of the checkmark */
  position: absolute; /* Position the checkmark absolutely within the .step-number */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5); /* Center the checkmark and scale it up */
  z-index: 1; /* Ensure it's above the step number */
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Circular shape */
  width: 30px; /* Size of circle */
  height: 30px; /* Size of circle */
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 0; /* Lower z-index than the checkmark */
}


/* Style for the current step */
.step-current .step-number {
  background-color: white; /* White background for the current step */
  color: black; /* Black text color */
  border: 2px solid orange; /* Orange border */
}

/* Hover effect for interactive steps, if needed */
.step-completed:hover .step-number,
.step-current:hover .step-number {
  cursor: pointer; /* Indicates the element is clickable */
  opacity: 0.8; /* Visual feedback for hover */
}
