@media print {
    body * {
      visibility: hidden;
    }
    .printable-section, .printable-section * {
      visibility: visible;
    }
    .printable-section {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }
  